{%  extends "base.html" %}
{% load widget_tweaks %}
{% url 'upload'  user_id %}

{% comment %}
	{% url 'upload' %}
{% endcomment %}

{% block content %}
	<div class="container">

	    <form class="form-signin" method='POST' action="" > {% csrf_token %}
            <h2 class="form-signin-heading">Upload</h2>
	       	<div class="form-group">
    			<label>First Name</label>
    			{{form.first_name|add_class:"form-control"}}
    		</div>

    		<div class="form-group">
    			<label>Last Name</label>
    			{{form.last_name|add_class:"form-control"}}
    		</div>


	        <div class="form-group">
    			<label>Email address</label>
    			{{form.email|add_class:"form-control"}}
    		</div>

			<div class="form-group">
    			<label>Phone Number</label>
    			{{form.phone|add_class:"form-control"}}
    		</div>

    		<div class="form-group">
    			<label>Message</label>
    			{{form.message|add_class:"form-control"|attr:"row=2"}}
    		</div>


    		<input type='submit' class="btn btn-default" name='submit' value='submit'/>
    	</form>

    </div>
    
{% endblock %}